<html>
  {% include "header.html" %}
  <body>
	<div id="container">
	  <div id="header">
		<h1><a href="/">GYMMEMO</a></h1>
	  </div>
	  <div id="content">
		<form action="party_make" method="post">
		  <table>
			<tr>
			  <th>名前</th>
			  <th>性別</th>
			  <th>年齢</th>
			  <th>職業</th>
			  <th>パーティー</th>
			</tr>
			{% for c in chara_list %}
			<tr>
			  <td>{{ c.name }}</td>
			  <td>{{ c.sex }}</td>
			  <td>{{ c.age }}</td>
			  <td>{{ c.job }}</td>
			  <td><input type="checkbox" name="party" value="{{ c.key }}" /></td>
			</tr>
			{% endfor %}
		  </table>
		  <input type="submit" value="submit" />
		</form>
	  </div>
	</div>
	{% include "footer.html" %}
  </body>
</html>
